$text-color-white: #ffffff;
$text-color-dark: #141517;
$text-color-accent: #2c2e3f;
$text-color-gray: rgba(44, 46, 63, 0.7);
$text-color-gray-light: rgba(44, 46, 63, 0.3);
$text-color-transparent-dark: rgba(20, 21, 23, 0.5);
$text-color-light-transparent-dark: rgba(20, 21, 23, 0.7);
$text-color-active: #fe7865;
$text-color-black: #000000;
$main-background-color: #ffffff;
$button-background-color: #fe7865;
$button-background-color-hover: #f17d4b;
$tab-color-hover: #f17d4b;
$menu-nav-background-color: #fbf8f8;
$menu-nav-text-color: #48494b;
$overlay-background-color: rgba(20, 21, 23, 0.6);
$overlay-border-color: rgba(255, 255, 255, 0.7);
$title-underline-color: #fe7865;
$tabs-border-color: rgba(44, 46, 63, 0.3);
$offer-border-color: rgba(44, 46, 63, 0.3);
$input-border-color: rgba(44, 46, 63, 0.3);
$offer-border-color-hover: #fe7865;
$price-phone-icon-color: #fe7865;
$form-shadow-color: rgba(41, 54, 66, 0.1);
$form-mobile-bg-color: #fbf8f8;
$footer-border-color: #d7d9df;
$modal-background-color: #fbf8f8;
$form-title-color: #48494b;

$max-tablet-width: 1023px;
$max-mobile-width: 767px;
$desktop-width-only: 1024px;

$primary-font: "Montserrat", "Arial", sans-serif;
